@import "./scss/index.scss";

body {
  margin: 30;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: $background-grey-dark !important;
  color: $font-light !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
    box-shadow: none !important;
}
.btn.btn-primary {
    background-color : $primary;
    border-color: $primary;
    color: $font-dark !important;

    &:hover {
        background-color: rgba(26,145,118,1);
    }
}
.btn.btn-outline-primary{
    color : $primary;
    border-color: $primary;

    &:hover,
    &:active,
    &:focus {
        background-color: rgba(55, 261, 28, 0.1);
    }
}
input.form-control,
textarea.form-control {
    background-color: $background-dark-light;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $border-grey;
    color: $font-light !important;

    &:focus{
        background-color: $background-dark-light;
        box-shadow: none;
        border-bottom: 1px solid $border-primary;
    }
}

