@import "../../scss/index.scss";

.basic-layout{
  &__menu{
    padding-right: 0 !important;
  }

  &__content{
    height: 100vh;
    overflow-y: scroll;
    padding: 0 !important;
    border-right: 1px solid $border-grey;
    &::-webkit-scrollbar{
      display: none;
    }
  }

}