$primary: #68f21d;
$primary-light: #8af871;
$primary-grey: #8799a6;
$primary-dark-light: #233419;
$primary-dark: #1b2b15;

$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #3b4d38;
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;
@import "././node_modules/bootstrap/scss/bootstrap";